repo "https://github.com/tree-sitter-grammars/tree-sitter-capnp"
commit "7b0883c03e5edd34ef7bcf703194204299d7099f"
license "MIT"

grammar {
    id "capnp"
    name "Cap'n Proto"
    tag "data"
    tier 4
    icon "mdi:message-fast-outline"

    inventor "Kenton Varda"
    year 2013
    description "Cap'n Proto serialization and RPC system; design and spec at <a href=\"https://capnproto.org/\">capnproto.org</a>."
    link "https://en.wikipedia.org/wiki/Cap'n_Proto"
    trivia "Varda released Cap'n Proto on April 1, 2013, as a faster, zero-copy successor to Protocol Buffers; the <a href=\"https://capnproto.org/faq.html\">FAQ</a> explains the zero-copy format."

    sample {
        path "samples/addressbook.capnp"
        description "Cap'n Proto address book example with structs, lists, and annotations."
        link "https://github.com/capnproto/capnproto/blob/master/c++/samples/addressbook.capnp"
        license "Apache-2.0"
    }
}
