repo "https://github.com/serenadeai/tree-sitter-scss"
commit "c478c6868648eff49eb04a4df90d703dc45b312a"
license "MIT"

grammar {
    id "scss"
    name "SCSS"
    tag "markup"
    tier 3
    has_scanner #true
    icon "simple-icons:sass"
    aliases "sass"

    inventor "Hampton Catlin, Natalie Weizenbaum, Chris Eppstein"
    year 2006
    description "Sass/SCSS is a CSS superset adding variables, nesting, and mixins; see the official [documentation](https://sass-lang.com/documentation/)."
    link "https://en.wikipedia.org/wiki/Sass_(style_sheet_language)"
    trivia "SCSS syntax arrived with Sass 3 (2010) to mirror CSS; history and design notes are in the [Sass blog](https://sass-lang.com/blog/) and [syntax documentation](https://sass-lang.com/documentation/syntax)."

    sample {
        path "samples/_buttons.scss"
        description "Bootstrap buttons partial with variables, mixins, nesting, and interpolation."
        link "https://github.com/twbs/bootstrap/blob/main/scss/_buttons.scss"
        license "MIT"
    }
}
