repo ""
commit ""
license ""

grammar {
    id "dot"
    name "DOT/Graphviz"
    tag "data"
    tier 4
    icon "mdi:graph"

    inventor "Stephen North and AT&T Bell Labs"
    year 1991
    description "A graph description language for defining nodes, edges, and graph layouts in Graphviz."
    link "https://en.wikipedia.org/wiki/DOT_(graph_description_language)"
    trivia "Graphviz layout algorithms were developed at AT&T Labs and have been used to visualize everything from compiler internals to social networks."

    sample {
        path "samples/crazy.gv"
        description "Unix family tree visualization; demonstrates creative node styling with distortion, orientation, and skew parameters."
        link "https://gitlab.com/graphviz/graphviz/-/blob/main/graphs/directed/crazy.gv"
        license "EPL-1.0"
    }
}
