repo "https://github.com/dbt-labs/tree-sitter-jinja2"
commit "922b28e1352c4966418b2e7e3772e0583d4532a2"
license "GPL-3.0"

grammar {
    id "jinja2"
    name "Jinja2"
    tag "markup"
    tier 5
    icon "mdi:code-braces"
    aliases "jinja" "j2"

    inventor "Armin Ronacher"
    year 2008
    description "Python templating engine inspired by Django; [official docs](https://jinja.palletsprojects.com/)."
    link "https://en.wikipedia.org/wiki/Jinja_(template_engine)"
    trivia "Named after the Jinja shrine; released as part of the Pocoo suite. See the [design goals](https://jinja.palletsprojects.com/en/stable/#design-goals) and early release history in the docs."

    sample {
        path "samples/admin-base.html"
        description "Django admin base template with blocks, conditionals, i18n, and component includes."
        link "https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base.html"
        license "BSD-3-Clause"
    }
}
