repo "https://github.com/tree-sitter-grammars/tree-sitter-toml"
commit "64b56832c2cffe41758f28e05c756a3a98d16f41"
license "MIT"

grammar {
    id "toml"
    name "TOML"
    tag "config"
    tier 2
    has-scanner #true
    icon "simple-icons:toml"

    inventor "Tom Preston-Werner"
    year 2013
    description "Tom's Obvious, Minimal Language for configuration; official spec at [toml.io](https://toml.io/en/)."
    link "https://en.wikipedia.org/wiki/TOML"
    trivia "TOML 1.0.0 was released January 2021 after 8 years of iteration; see the spec changelog on [toml.io](https://toml.io/en/v1.0.0)."

    sample {
        path "samples/starship.toml"
        description "Starship Cargo.toml with dependencies, features, and build configuration."
        link "https://github.com/starship/starship/blob/master/Cargo.toml"
        license "ISC"
    }
}
