repo "https://github.com/georgeharker/tree-sitter-zsh"
commit "c50ded6979eb7aae8b8da5da9ac2e9e984804881"
license "MIT"

grammar {
    id "zsh"
    name "Zsh"
    tag "shell"
    tier 3
    icon "mdi:console"

    inventor "Paul Falstad"
    year 1990
    description "Extended Unix shell with rich scripting; reference manual at [zsh.sourceforge.io](https://zsh.sourceforge.io/Doc/)."
    link "https://en.wikipedia.org/wiki/Z_shell"
    trivia "Created by Falstad while at Princeton; named after TA Zhong Shao. The [Zsh FAQ](https://zsh.sourceforge.io/FAQ/) documents its history and feature set."

    sample {
        path "samples/git.plugin.zsh"
        description "oh-my-zsh git plugin with aliases, functions, and completions."
        link "https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh"
        license "MIT"
    }
}
