repo "https://github.com/r-lib/tree-sitter-r"
commit "0e6ef7741712c09dc3ee6e81c42e919820cc65ef"
license "MIT"

grammar {
    id "r"
    name "R"
    tag "code"
    tier 1
    has-scanner #true
    icon "devicon-plain:r"
    aliases "rlang"

    inventor "Ross Ihaka and Robert Gentleman"
    year 1993
    description "Language and environment for statistical computing; official manuals at [CRAN](https://cran.r-project.org/manuals.html)."
    link "https://en.wikipedia.org/wiki/R_(programming_language)"
    trivia "Named for Ross and Robert and as a successor to S; initial public release was 1995. The [R Language Definition](https://cran.r-project.org/doc/manuals/r-release/R-lang.html) documents core semantics."

    sample {
        path "samples/detect.R"
        description "stringr functions for detecting patterns; showcases vectorization and tidyverse style."
        link "https://github.com/tidyverse/stringr/blob/master/R/detect.R"
        license "MIT"
    }
}
