repo "https://github.com/tree-sitter/tree-sitter-scala"
commit "97aead18d97708190a51d4f551ea9b05b60641c9"
license "MIT"

grammar {
    id "scala"
    name "Scala"
    tag "code"
    tier 2
    has-scanner #true
    icon "devicon-plain:scala"

    inventor "Martin Odersky"
    year 2004
    description "Multi-paradigm JVM language blending OO and FP; official docs at <a href=\"https://docs.scala-lang.org/\">docs.scala-lang.org</a>."
    link "https://en.wikipedia.org/wiki/Scala_(programming_language)"
    trivia "The name abbreviates 'scalable language'; Odersky announced Scala in 2004 after work on Java generics and the Pizza language. The <a href=\"https://docs.scala-lang.org/scala3/reference/\">Scala 3 reference</a> documents current syntax and features."

    sample {
        path "samples/ResultResolver.scala"
        description "Sangria GraphQL result resolver with pattern matching, options, and marshallers."
        link "https://github.com/sangria-graphql/sangria/blob/main/modules/core/src/main/scala/sangria/execution/ResultResolver.scala"
        license "Apache-2.0"
    }
}
