repo "https://github.com/elixir-lang/tree-sitter-elixir"
commit "d24cecee673c4c770f797bac6f87ae4b6d7ddec5"
license "Apache-2.0"

grammar {
    id "elixir"
    name "Elixir"
    tag "code"
    tier 1
    has-scanner #true
    icon "devicon-plain:elixir"
    aliases "ex" "exs"

    inventor "José Valim"
    year 2011
    description "Functional, concurrent language on the BEAM VM; [official site](https://elixir-lang.org/)."
    link "https://en.wikipedia.org/wiki/Elixir_(programming_language)"
    trivia "Valim announced Elixir in 2011 to blend Ruby-like ergonomics with Erlang's fault-tolerance; see the [getting started guide](https://elixir-lang.org/getting-started/introduction.html) and the original [announcement blog post](https://elixir-lang.org/blog/2011/01/09/introducing-elixir/)."

    sample {
        path "samples/controller.ex"
        description "Phoenix controller module with plugs, alias/import/use macros, pattern matching, and response helpers."
        link "https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/controller.ex"
        license "MIT"
    }
}
