[package]
name = "<%= crate_name %>"
version = "<%= workspace_version %>"
edition = "2024"
rust-version = "1.85"
description = "<%= grammar_name %> grammar for arborium (tree-sitter bindings)"
authors = ["Amos Wenger <amos@bearcove.eu>"]
license = "<%= license %>"
readme = "README.md"
repository = "https://github.com/bearcove/arborium"
homepage = "https://github.com/bearcove/arborium"
documentation = "https://docs.rs/<%= crate_name %>"
keywords = ["tree-sitter", "<%= grammar_id %>", "syntax-highlighting", "<%= tag %>"]
categories = ["parsing", "text-processing"]

[lib]
path = "src/lib.rs"

[dependencies]
tree-sitter-patched-arborium = { path = "<%= repo_rel %>/tree-sitter" }
arborium-sysroot = { path = "<%= shared_rel %>/arborium-sysroot" }
<% for (dep_name, dep_path) in &highlights_prepend_deps { %>
<%= dep_name %> = { path = "<%= dep_path %>" }
<% } %>

[dev-dependencies]
arborium-test-harness = { path = "<%= shared_rel %>/arborium-test-harness" }

[build-dependencies]
cc = "1"
